@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .basliqlar {
    width: 80vh;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .link {
    display: none;
  }

  .titleParaqraf {
    h1 {
      font-size: 60px;
      font-weight: 500;
    }

    p {
      width: 65vh;
    }

    a {
      padding: 15px 28px;
    }
  }

  .basliqlar h1 {
    font-size: 50px;
  }

  /* .pcImg img {
    display: none;
    width: 100%;
  } */

  .titleParaqraf {
    text-align: center;
    justify-items: center;

    p {
      font-size: 15px;
    }
  }

  .basliqlar h1 {
    font-size: 20px;
  }

  .boxs {
    grid-template-rows: 320px 320px;

    h3 {
      width: 40vh;
      font-weight: 500;
      font-size: x-large;
    }
  }

  .basliq-paraqraf {
    margin-top: 20%;
  }

  .linkss {
    a {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .pcImg img {
    display: none;
    width: 100%;
  }

  .titleParaqraf {
    text-align: center;
    justify-items: center;

    p {
      font-size: 15px;
    }
  }

  .basliqlar h1 {
    font-size: 20px;
  }

  .boxs {
    grid-template-columns: 1fr;

    h3 {
      width: 35vh;
      font-weight: 500;
      font-size: x-large;
    }
  }

  .basliq-paraqraf {
    margin-top: 20%;
  }

  .paraqraf-basliq {
    margin-top: 30%;
  }

  .video {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .konums {
    grid-template-columns: 1fr;

    iframe {
      width: 100%;
      border-radius: 30px;
      height: 340px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .lang {
    display: none;
  }

  .pcImg img {
    display: none;
    width: 100%;
  }

  .tel a {
    font-size: 11px;
  }

  .logo img {
    width: 25vh;
  }

  .boxs {
    grid-template-rows: 350px 350px;

    h3 {
      width: 30vh;
      font-weight: 500;
      font-size: x-large;
    }
  }
  .basliq-paraqraf {
    margin-top: 30%;
  }

  .paraqraf-basliq {
    margin-top: 30%;
  }
}
